// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Raleway:400,700,800&display=swap');

// Define fonts for body and headers


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
  font-family: $headers-font;
  font-size: 3.2 rem;
  font-weight: 800;
  font-color: #91A5B9;
}

h2 {
  font-family: $headers-font;
  font-size: 2.6 rem;
  font-weight: 600;
  font-color: #B5DFCA;
}

h3 {
  font-family: $headers-font;
  font-size: 2 rem;
  font-weight: 600;
  font-color: #C1EDCC;
}

p {
  font-family: $body-font;
  font-size: 1.6 rem;
  font-weight: 400;
  font-color: #4a4a4a;
}
