.bg--gradient {
  margin: 0;
  width: 100%;
  height: 50vw;
  background: linear-gradient(-45deg, #e1ff9d, #a0fcb9);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  overflow: hidden;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
}

.hero--full {
  width: 100%;
}

.hero--bg--img {
  background-position: bottom 1px right 3px;
  background-repeat: no-repeat;
  background-size: 55%;
  background-image: asset-url('welcome2.png');
}

.hero__curve {
  width: 100%;
  fill: #F4F4F4;
  vertical-align: bottom;
  position: absolute;
  display: flex;
  align-self: flex-end;
}

.hero__wrapper {
  text-align: left;
}

.hero__text {
  margin: 30px 50px;
  height: 33vw;
  display: block;
}

.hero__subtext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero__title {
  color:#4a4a4a;
  font-size: 4.5em;
  font-weight: 600;
  padding : 10px 0;
}

.hero__p {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: justify;
}

.hero__p>p {
  font-size: 1.8em;
}

.underlined {
  color: inherit;
  font-weight: 900;
  text-decoration: none;
  color: #000;
  border-bottom-color: #00D68B;
  border-bottom-width: 6px;
  border-bottom-style: solid;
}

.underlined:hover,
.underlined:focus {
  border-bottom: none;
  border-top-width: 5px;
  background-position: 0 calc(100% - 2.5px);
  background-size: auto 8px;
  background-repeat: repeat-x;
  padding-bottom: 6px;
}
.underlined:hover,
.underlined:focus {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 5'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2300D68B' stroke-width='3' class='st0' d='M0 4c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E");
}

.hero__text>.hero__subtext>img {
  display: flex;
  margin-top: -5%;
  margin-right: 12.5%;
  width: 17.5%;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .bg--gradient{
    height: 75vh;
  }

  .home__text__container>.home__text__sub__container>.home__text__item>.mail-form-container>.mail-form{
  width:100%;
}

  .hero--bg--img {
    background-image: asset-url('welcome.png');
    background-size: 65%;
  }

  .hero {
    height: 75vh;
  }

  .hero__curve {
    height: inherit;
    bottom: -1px;
  }

  .hero__title {
    padding: 0;
    font-size: 6.1vw;
    text-align: justify;
  }

  .hero__text {
    margin: 15px 30px;
  }

  .underlined {
    border-bottom-width: 3px;
  }

  .underlined:hover,
  .underlined:focus {
    background-size: auto 5px;
  }

  .hero__subtext {
    padding-top: 2.5%;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .hero__text > .hero__subtext > img {
    display: none;
  }

  .hero__p {
    padding-top: 10px;
    width: 100%;
  }

  .hero__p > p {
    font-size: 3.5vw;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .bg--gradient {
    height: 110vh;
  }

  .hero {
    height: 110vh;
  }

  .hero--bg--img {
    background-image: asset-url('welcome.png');
  }

  .hero__title {
      font-size: 4.5vw;
  }

  .hero__p>p {
      font-size: 2vw;
  }

  .hero__curve {
    height: inherit;
    bottom: -1px;
  }

  .hero__text {
    margin: 30px 30px;
  }

  .hero__text > .hero__subtext > img {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .bg--gradient {
      height: 110vh;
    }

    .hero {
      height: 110vh;
    }

    .hero__title {
      font-size: 4.5vw;
    }

    .hero__p>p {
      font-size: 2vw;
    }

    .hero__text {
      margin: 30px 30px;
    }

    .hero__text>.hero__subtext>img {
    margin-top: -10%;
    margin-right: 12.5%;
    }

    .hero__curve {
    height: inherit;
    bottom: -1px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .bg--gradient {
      height: 90vh;
    }

    .hero {
      height: 90vh;
    }

    .hero__title {
      font-size: 4.5vw;
    }

    .hero__p>p {
      font-size: 2vw;
    }

    .hero__text {
      margin: 30px 30px;
    }

    .hero__text>.hero__subtext>img {
      margin-top: -5%;
      margin-right: 12.5%;
    }

    .hero__curve {
      height: inherit;
      bottom: -1px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
