// Specific CSS for your home-page
.cta-btn {
  background-color: #00D68B;
  border-color: #00D68B;
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0.8rem;
  color: white;
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
}

.cta-btn:hover {
  background-color: #01c07d;
  border-color: #01c07d;
  color: white;
}

.bg--white {
  width: 100%;
  background-color: #F4F4F4;
}

.home__h2 {
  position: relative;
  color: #4a4a4a;
  font-size: 3.3em;
  font-weight: 600;
  padding-bottom: 10px;
  &:after {
    content: "";
    position: absolute;
    left: 0; right: 0;
    bottom: -1px;
    border-bottom: 6px solid #00D68B;
    width: 10%;
  }
}

.home__h3 {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  left: 0px;
  line-height: 2.5em;
  color: #4A4A4A;
  &:before {
    content: "";
    position: absolute;
    left: -15px; right: 0px;
    bottom: 0px;
    z-index: -1;
    background: linear-gradient(180deg, #e1ff9d, #a0fcb9);
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
  }
}

.bg--white>.hero__wrapper>.home__text__container>.home__text__sub__container>.home__text__item>ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 1.5em 0 0;
  padding: 0;
  @include clearfix;
}

.bg--white>.hero__wrapper>.home__text__container>.home__text__sub__container>.home__text__item>ul>li {
  flex-grow: 1;
  margin: 1em;
}

.home__text__container>.home__text__sub__container>.home__text__item>.mail-form-container{
  width:100%;
}

.home__text__container>.home__text__sub__container>.home__text__item>.mail-form-container>.mail-form{
  width:55%;
}


.home__text__container {
  margin: 5px 30px;
  display: flex;
  flex-direction: column;
}

.home__text__sub__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.home__text__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home__img__item {
  width: auto;
  height: 90vh;
  align-self: center;
}

.home__svg__item {
  width: 100%;
  align-self: center;
}

.concepts {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -5%;
    margin-bottom: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    z-index: 50;
}

.concepts .concept {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0;
    flex: 1 0;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    min-width: 230px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .9em;
}

.concepts .concept .concept-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 150px;
  position: relative;
}
.concepts>.concept>p {
  font-weight: 900;
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center
}

.concepts>.separator {
    width: 2px;
    border-right: 1px dashed #4a4A4A;
}

.concepts>.concept>.number {
  position: absolute;
  color: #00D68B;
  font-size: 7em;
  font-weight: 700;
  left: 10%;
  bottom: 18%;
  z-index: 10;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .concepts {
     margin-top: 10px;
  }
  .separator {
    display: none;
  }
  .concepts .concept .concept-icon {
    max-height: 120px;
  }

  .concepts > .concept > p {
    font-size: 15px;
  }

  .concept {
    width: 50px;
  }

  #container1 {
    flex-wrap: wrap;
  }

  #container2 {
    flex-wrap: wrap-reverse;
  }

  .home__h3 {
    line-height: 1.2;
  }

  .home__text__item > ul > li > p {
    text-align: justify;
  }

  .home__img__item {
    width: 100%;
    height: 100%;

  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .separator {
    display: none;
  }

  .home__img__item {
    width: auto;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    align-self: flex-start;
  }

  .home__svg__item {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    align-self: flex-start;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
