<div class="bg--gradient">
  <div class="hero hero--full hero--bg--img">
    <div class="hero__wrapper">
      <div class="hero__text">
        <h1 class="hero__title">The very first app that brings you on the <span class="underlined">Way to Zero</span> waste.</h1>
        <div class="hero__subtext">
          <p class="hero__p">Because we believe in the power of habits, Way To Zero aims to encourage everyone to adopt a zero-waste lifestyle at their own speed through fun and motivating challenges.</p>
          <%= image_tag("waste.png") %>
        </div>
        <div class="mail-form-container">
          <div class="mail-form">
            <form id="singular-form" action="https://waytozero.us4.list-manage.com/subscribe/post?u=82e07f35094db3ac030eaec10&amp;id=f4c26eaa14" method="POST">

              <button class="shown" type="button" id="trigger">Make this project a reality !</button>

              <div id="input-container">
                  <input type="email" value="" name="EMAIL" placeholder="Enter your best email address, please" required>
                  <button type="button">Show your interest</button>
              </div>

              <div id="success">Thank you!</div>

            </form>
          </div>
          <div id="email-warner">
              <p></p>
          </div>
        </div>
      </div>
      <svg class="hero__curve" viewBox="0 0 1620 228" xmlns="http://www.w3.org/2000/svg">
          <path d="m1619.44517.35433528c-399.39777 223.02017072-694.714626 278.49386172-885.950558 166.42107172-181.341926-106.2744605-391.865473-161.74815116-631.57064-166.42107177h-101.923972v227.64566477h1620v-227.64566477h-.5547z"></path>
      </svg>
    </div>
  </div>
</div>
<div class="concepts">
  <div class="concept">
    <%= image_tag("superwoman.png", :class=>'concept-icon') %>
    <p>Take on ecological challenges</p>
  </div>
  <div class="separator"></div>
  <div class="concept">
    <%= image_tag("fatherhood.png", :class=>'concept-icon') %>
    <p>Change your lifestyle step by step</p>
  </div>
  <div class="separator"></div>
  <div class="concept">
    <%= image_tag("excalibur.png", :class=>'concept-icon') %>
    <p>Give the best of yourself</p>
  </div>
</div>
<div class="bg--white">
  <div class="hero__wrapper">
    <div class="home__text__container" style="margin-top:50px">
      <h2 class="home__h2">Concept</h2>
        <ul>
          <li>
            <h3 class="home__h3">Become a driver of change</h3>
            <p>Don't be paralyzed anymore by the magnitude of the problem that humanity is facing at the moment. Make positive contributions to the planet through Way To Zero and become a better person in a better world !</p>
          </li>
          <li>
            <h3 class="home__h3">Receive zero-waste challenges to overcome</h3>
            <p>Way To Zero suggests new challenges every week. Do you want to do more than the weekly ones? You can obviously increase the number of challenges to be addressed from a wide range of options and categories related to everyone's life.</p>
          </li>
          <li>
            <h3 class="home__h3">Take up the ecological challenge step by step</h3>
            <p>It is perfectly normal not to know where to start. With a kind and non-judgmental approach, Way To Zero guarantees to support each of its users step by step, regardless of whether they are beginners or advanced in zero waste.</p>
          </li>
          <li>
            <h3 class="home__h3">Motivate you through gamification mechanisms</h3>
            <p>Overcome challenges at your own pace with progressive levels of difficulty. Move into action and see your efforts immediately rewarded: gain experience, collect badges and keep an eye on how much plastic you've saved !</p>
          </li>
        </ul>
      <div class="mail-form-container">
        <div class="mail-form">
          <form id="singular-form">

            <button class="shown" type="button" id="trigger">Make this project a reality !</button>

            <div id="input-container">
                <input type="email" value="" name="EMAIL" placeholder="Enter your best email address, please" required>
                <button type="button">Show your interest</button>
            </div>

            <div id="success">Thank you!</div>

          </form>
        </div>
        <div id="email-warner">
            <p></p>
        </div>
      </div>
    </div>
    <div class="home__text__container" style="background-color: #F4F4F4">
      <h2 class="home__h2">Mission</h2>
    </div>
  </div>
</div>
