<div class="banner-home-page">
  <div class="row" style="text-align:center; display: initial;">
    <h1 style="font-size: 5rem; margin-top: 2rem">Have an impact together for a <u>brighter</u> future.</h1>
  </div>
  <div class="container">
    <div class="row col-6">
      <div class="card-1-home">
        <h2 style="margin-top: -5rem">Stop scrolling and start acting, <br> Earth won't wait.</h2>
      </div>
    </div>
    <div class="row col-7">
      <div class="card-1-home">
        <p style="color: white; margin-top: -7rem;">Nowadays, we are facing environmental dilemmas. One of the causes of these problem is the misbehavior of the people towards waste management. Some people are reckless in throwing their garbage.
        They do not think of the possible results of their actions on the environment as well as on health. We bring you Way To Zero, a zero waste app that will help you break daily bad habits through challenges.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row col-7" style="text-align:center; display: inline-block;">
  <%= link_to "Join the movement !", new_user_registration_path, class: "btn cta-btn", style: "margin-top: -4.5rem; margin-bottom: 5rem" %>
  </div>
</div>
<div class="col-12">
  <div class="row">
    <div class="col-8">
      <div class="img-card-2">
      <img src="https://images.unsplash.com/photo-1528323273322-d81458248d40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2601&q=80">
      </div>
    </div>
    <div class="col-4">
      <div class="card2-home">
      <h2>Our mission.</h2>
      <p id="p-txt">“Zero Waste is a goal that is ethical, economical, efficient and visionary, to guide people in changing their lifestyles and practices to emulate sustainable natural cycles, where all discarded materials are designed to become resources for others to use.
      Zero Waste means designing and managing products and processes to systematically avoid and eliminate the volume and toxicity of waste and materials, conserve and recover all resources, and not burn or bury them.
      Implementing Zero Waste will eliminate all discharges to land, water or air that are a threat to planetary, human, animal or plant health.”</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row justify-content-center">
        <h1 id="h2-banner" class="mt-5 mb-5">Achievements so far</h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-4" id="dotted-border">
          <p id="count" style="color: #00D68B">1,981</p>
          <p id="count-txt">trees planted</p>
        </div>
        <div class="col-4" id="dotted-border">
          <p id="count" style="color: #00D68B">+2,420</p>
          <p id="count-txt">users</p>
        </div>
        <div class="col-4" id="dotted-border">
          <p id="count" style="color: #00D68B">+10,273</p>
          <p id="count-txt">kg of plastic saved</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="row">
    <div class="col-5">
      <div class="card3-home">
        <h2>About us.</h2>
        <p id="p-txt"><strong>Antoine Braconnier</strong>, A dedicated and motivated legend doing his work in this fantastic team, Way to Zero is not a simple app for him BUT a life style and a purpose.</p>
        <p id="p-txt"><strong>Antoine Lequeux</strong>, A dedicated and motivated legend doing his work in this fantastic team, Way to Zero is not a simple app for him BUT a life style and a purpose.</p>
        <p id="p-txt"><strong>Louis Grommen</strong>, A dedicated and motivated legend doing his work in this fantastic team, Way to Zero is not a simple app for him BUT a life style and a purpose.</p>
        <p id="p-txt"><strong>Paolo de Fauconval</strong>, A dedicated and motivated legend doing his work in this fantastic team, Way to Zero is not a simple app for him BUT a life style and a purpose.</p>
      </div>
    </div>
    <div class="col-7">
      <div class="img-card-3">
        <%= image_tag("e003d694-127a-4248-8866-3782e519c68c.jpg", :style => "max-height: 25rem") %>
      </div>
    </div>
  </div>
</div>
<footer class="page-footer">
<h2>Follow us</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="mb-6 flex-center">
          <a class="fb-ic" href="https://i.pinimg.com/564x/97/f1/39/97f139bf914d0dba02c5e49176d8b967.jpg" target="_blank">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="tw-ic" href="https://i.pinimg.com/564x/97/f1/39/97f139bf914d0dba02c5e49176d8b967.jpg">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="gplus-ic" href="https://i.pinimg.com/564x/97/f1/39/97f139bf914d0dba02c5e49176d8b967.jpg">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="li-ic" href="https://i.pinimg.com/564x/97/f1/39/97f139bf914d0dba02c5e49176d8b967.jpg">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="ins-ic" href="https://i.pinimg.com/564x/97/f1/39/97f139bf914d0dba02c5e49176d8b967.jpg">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="pin-ic" href="https://i.pinimg.com/564x/97/f1/39/97f139bf914d0dba02c5e49176d8b967.jpg">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
