<div class="container">
  <div class="col-6 mt-5 offset-3 card">
    <h2 class="to_change_h2" style="text-align: center">Challenge suggestion</h2>
    <form class="info_box" id="new_client" novalidate="novalidate" action="#" accept-charset="UTF-8"><input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value="Sj1L76x8kFaETyAUMXaV4Tr+QBXZ7jyKyP173ZhYuiMdUrgcXV+0S9yovVXuUC87SMWLcYbX3hyEQNQ93dkHYQ==">
      <p>Community input is very important to us, this why we give you the opportunity to add challenges and help us improve our app with your help! don't hesitate !</p>
      <div class="info_box">
        <div class="form-inputs string">
          <label class="string required" for="client_first_name">Challenge name <abbr title="required">*</abbr></label>
          <input class="form-control string required" required="required" aria-required="true" type="text"></div>
        <div class="form-inputs">
          <label class="string required" for="client_first_name">Challenge description <abbr title="required">*</abbr></label>
          <input class="form-control string required" required="required" aria-required="true" type="text">
        </div>
        <div class="form-inputs">
          <label class="string required" for="client_first_name">Challenge video link <abbr title="required">*</abbr></label>
          <input class="form-control string required" required="required" aria-required="true" type="text">
        </div>
      </div>
      <div class="form-actions text-center">
        <input type="submit" name="commit" value="Send suggestion" class="btn btn Log_in-btn btn-lg" id="client-btn" data-disable-with="Thank you">
      </div>
    </form>
  </div>
</div>
