<div class="container">
  <div class="img-card-4" style="text-align:center;">
    <br>
    <br>
    <h1>Way to zero team</h1>
    <br>
    <br>
    <%= image_tag("Screenshot 2019-11-20 at 11.34.14.png", :style => "max-height: 40rem") %>
    <br>
    <br>
    <h2>Huge thanks to le Wagon for all the <u>knowledge</u>, <u>help</u> and <u>motivation</u> they gave us during this 9 weeks !</h2>
  </div>
</div>
