<h1>Special thanks to the team who made an incredible work driving a new Zero Waste Generation!</h1>
<img src="https://res.cloudinary.com/dr3uy796x/image/upload/v1574178089/team_picture/picture_cxhexq.png">
