<% @small_challenges_displayed.each do |small_challenge| %>
<br>
<p><%= small_challenge.name %></p>
<%= link_to "see more", challenge_path(small_challenge) %>
<br>
<%= link_to "add this challenge to my weekly challenges", weekly_challenges_path(small_challenge), method: :post %>
<%= link_to "mark as done this challenge to my weekly challenges", weekly_challenges_path(small_challenge, done: "true"), method: :post %>

<br>
<% end %>



