<h2> <%= @category.name %> challenges</h2>

<% @small_challenges.each do |small_challenge| %>
<br>
<%= small_challenge.name %>
<%= link_to "see more", challenge_path(small_challenge) %>
<br>
<% end %>



