.green-btn {
  background-color: #00D68B;
  border-color: #00D68B;
  width: 100%;
  margin-bottom: 10px;
}

.green-btn:hover {
  background-color: #01c07d;
  border-color: #01c07d;
}

.mark-as-done-btn {
    background-color: #00D68B;
    border-color: #00D68B;
    width: 100%;
    padding: 0.8rem;
    color: white;
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    min-width: 160px;
}
.mark-as-done-btn.sent{
  opacity: .7
}
.mark-as-done-btn:hover {
  background-color: #01c07d;
  border-color: #01c07d;
  color: white;
}

#big-challenge {
    background-color: #4a4a4a;
    border-color: #4a4a4a;
    width: 100%;
    padding: 0.8rem;
    color: white;
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
}
#big-challenge.sent {
  opacity: .7
}
#big-challenge:hover {
  background-color: #2e2e2e;
  border-color: #2e2e2e;
  color: white;
}

.button-show {
  background-color: #00D68B;
  border-color: #00D68B;
  width: 100%;
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
}

.button-index {
  background-color: #00D68B;
  border-color: #00D68B;
  margin: 0px 5px;
  color: white;
  font-weight: 600;
  width: 100%;
}
