.dropdown-selector-phone {
  position: relative;
  display: none;
}

.dropdown-selector-desktop {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 8px 16px;
  min-width: 120px;
  color: #4A4A4A;
  text-align: left;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid;
  border-color: #4A4A4A;
  border-radius: 5px;
}

@media (max-width: 575.98px) {
  .dropdown-btn {
    min-width: 50px;
  }

  .dropdown-menu {
    right: 0;
    z-index: 1000;
    left: auto;
  }

  .dropdown-selector-phone {
    display: inline-block;
  }

  .dropdown-selector-desktop {
    display: none;
  }
}
