.mail-form-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.mail-form {
    display: flex;
    width: 60%;
    height: 3rem;
    font-weight: 700;
    margin: 15px 0px;
    background-color: #00D68B;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    transition: width .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    align-content: center;
    justify-content: center;
    z-index: 1;
}

.mail-form>#singular-form {
    position: relative;
    width: 100%;
    height: 3rem;
    background-color: #00D68B;
}

.mail-form>#singular-form button {
    width: 3rem;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3vw;
}

.placeholder {
  font-size: 1.3vw;
}

.mail-form>#singular-form>button#trigger {
    padding: 0;
    width: 100%;
    color: #F4F4F4;
    background-color: transparent;
    z-index: 3;
}

.mail-form>#singular-form>#input-container {
    z-index: 2;
}

.mail-form>#singular-form>#input-container>input {
    display: inline-block;
    height: 3rem;
    width: 100%;
    background-color: #F4F4F4;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 26% 0 3%;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease .4s;
}

.mail-form>#singular-form>#input-container>button {
    position: absolute;
    top: 10%;
    right: .8%;
    height: 80%;
    width: 30%;
    background-color: #00D68B;
    color: #F4F4F4;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease .4s;
}

.mail-form>#singular-form>#success {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F4F4;
    font-weight: bold;
    z-index: 1;
}

#email-warner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -.8%;
  opacity: .7;
  font-size: 1vw;
}

.mail-form>#singular-form>button#trigger,
.mail-form>#singular-form>#input-container,
.mail-form>#singular-form>#success {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0);
    opacity: 0;
}

.mail-form>#singular-form>button#trigger {
    transition: all .4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F4F4;
    font-weight: bold;
    font-size: 1.5vw;
}

.mail-form>#singular-form>#input-container {
    transform: scale(1);
    opacity: 1;
    transition: all .4s ease .4s;
}

.mail-form>#singular-form>#success {
    transition: all .2s ease .4s;
}

.mail-form>#singular-form>button#trigger.shown,
.mail-form>#singular-form>#input-container.shown,
.mail-form>#singular-form>#success.shown,
.mail-form>#singular-form>#input-container>button.shown,
.mail-form>#singular-form>#input-container>input.shown {
    transform: scale(1);
    opacity: 1;
}

.mail-form>#singular-form>button#trigger.shown:hover,
.mail-form>#singular-form>#input-container.shown:hover,
.mail-form>#singular-form>#success.shown:hover,
.mail-form>#singular-form>#input-container>button.shown:hover {
    background-color: #01c07d;
    transition: 0.2s;
}
