.navbar-waytozero {
  justify-content: space-between;
  background: white;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.2rem 3rem;
}

.navbar-waytozero .navbar-collapse {
  flex-grow: 0;
}

.navbar-waytozero .navbar-brand img {
  height: 4rem;
}

.navbar-header {
  font-family: $headers-font;
  font-size: 2.5rem;
  font-weight: 700;
  color: #4a4a4a;
  display: flex;
  align-items: center;
}

.register-btn {
    background-color: #00D68B;
    border-color: #00D68B;
    width: 100%;
    padding: 0.8rem;
    color: white;
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
}

.register-btn:hover {
  background-color: #01c07d;
  border-color: #01c07d;
  color: white;
}

.navbar-nav li.navbar-item > :not(a) {
  border-bottom: 3px solid #00D68B;
  color: #4a4a4a !important;
  line-height: 1.5;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.navbar-nav li.navbar-item a {
  color: #4a4a4a;
  opacity: .8;
  margin-bottom: 1rem;
  line-height: 1.5;
  border-bottom: 3px solid transparent;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.navbar-nav li.navbar-item a:hover {
  opacity: 1;
  line-height: 1.5;
  border-bottom: 3px solid #4a4a4a;
  text-decoration: none;
  margin-bottom: 1rem;
}

.body-margin {
  margin-top: 0px;
}
