.notification {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  background: white;
  padding: 0.8rem;
  border: 1px solid rgb(193,237,204);
}

.notification .notification-content {
  flex-grow: 1;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #01c07d;
  font-weight: bold;
}

.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #FFFFFF;
  font-size: 14px;
  opacity: 1;
}

.notification .notification-actions a:hover {
  color: white;
}
