<h1>Find below all the challenges categories</h1>

<% @categories.each do |category| %>
<br>
<%= category.name %>
<%= link_to "see challenges in that category", category_challenges_path(category) %>
<br>
<% end %>
